:root {
    --page-bg: #fff;
    --primary: #139992;
    --accent: #f8b130;
    --accent2: #9967c1;
    --text: #383245;
    --text-on-dark: #fff;
    --locked: #ccc;
    --slide-nav: #ccc;

    --input-border: #d8d8d8;

    --primary-btn: var(--primary);
    --primary-btn-color: #fff;
    --primary-btn-hover: #000;

    --breadcrumb: #fff;

    --password-bar-bg: #e5e7eb;
    --password-hints: #6b7280;
    --password-hints-bg: #f4fafa;
    --password-empty: #ef4444;
    --password-very-weak: #ef4444;
    --password-weak: #f97316;
    --password-fair: #eab308;
    --password-strong: #84cc16;
    --password-very-strong: #22c55e;

    --password-match: #22c55e;
    --password-no-match: #ef4444;

    --alert-success: hsl(142, 71%, 45%);
    --alert-success-bg: hsl(142, 71%, 95%);
    --alert-message: hsl(45, 93%, 47%);
    --alert-message-bg: hsl(45, 93%, 95%);
    --alert-error: hsl(0, 84%, 60%);
    --alert-error-bg: hsl(0, 84%, 95%);
}