main > section {
    margin: 100px 0;
}

main .heading-meta {
    font-size: 20px;
    color: var(--primary);
    margin: 0;
    text-transform: uppercase;
}

main h2,
main h4 {
    font-family: 'Asap', sans-serif;
    font-weight: 700;
    color: var(--accent);
}

main h2 {
    font-size: 50px;
    margin: 0 0 10px;
    line-height: 1.2;
}

main h4 {
    font-size: 24px;
    margin: 0 0 10px 0;
}