.header {
    z-index: auto;
    position: static;
    background-color: #fff;
}

.header-main {
    background: white;
    width: 100%;
    z-index: 1000;
    transition: box-shadow 0.2s ease;
    border-bottom: 1px solid #e5e7eb;
}

.header-main.fixed {
    position: fixed;
    top: 0;
    left: 0;
    border-bottom: 0;
    -webkit-box-shadow: 0 8px 28px rgba(7, 0, 30, 0.16);
    box-shadow: 0 8px 28px rgba(7, 0, 30, 0.16);
}

.header-menu {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.header .logo {
    display: block;
    font-size: 1.5rem;
    font-weight: bold;
    color: #333;
    text-decoration: none;
    margin-top: 26px;
    margin-bottom: 2px;
}

.header .logo img {
    display: block;
}

.header-top {
    color: #fff;
    background: var(--primary) none repeat scroll 0 0;
    padding: 6px 0 5px;
}

.header-top a {
    color: #fff;
    font-size: 15px;
    margin-top: 1px;
    font-family: 'Mulish Sans', sans-serif;
}

.profile-container {
    position: relative;
    display: inline-block;
    display: flex;
    justify-content: end;
}

.profile-icon {
    cursor: pointer;
    padding: 8px;
    border-radius: 50%;
    transition: background 0.2s;
}
.profile-icon:hover {
    background-color: #e2e6ea;
}
.profile-icon img {
    width: 40px;
}

.dropdown-menu {
    display: none;
    position: absolute;
    right: 0;
    top: 100%;
    background-color: white;
    min-width: 160px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    border-radius: 4px;
    overflow: hidden;
    z-index: 1000;
    margin-top: 5px;
}

.profile-container.active .dropdown-menu {
    display: block;
}

.dropdown-menu a, 
.dropdown-menu form button {
    display: block;
    width: 100%;
    text-align: left;
    padding: 10px 15px;
    text-decoration: none;
    color: #333;
    border: none;
    background: none;
    cursor: pointer;
    font-size: 1rem;
}
.dropdown-menu a:hover, 
.dropdown-menu form button:hover {
    background-color: #f1f1f1;
}