.register-fields {
    display: grid;
    grid-template-columns: 1fr;
    margin-bottom: 25px;
    gap: 25px;
}

.user-data-group,
.password-group {
    display: grid;
    grid-template-columns: 1fr;
    align-content: flex-start;
}

.register-fields label {
    width: 100%;
}

@media (min-width: 768px) {
    .register-fields {
        grid-template-columns: 1fr 1fr;
    }
}